// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|         contenu-entreprise            |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.contenu-entreprise{order:1;}
    #zone-2.contenu-entreprise{order:2;}
    #zone-3.contenu-entreprise{order:3;}
    #zone-4.contenu-entreprise{}
    #zone-5.contenu-entreprise{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.contenu-entreprise{
    min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;
    @include backgroundImage('defaut_image_illustration_entreprise.jpg');
    @include background-size(cover);           
    img{
        transform: translate(0%,0%);

    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        min-height: 25vw;
        max-height: 30vw;
        img{
            transform: translate(0%,-15%);
        }
    }
}
#zone-1.contenu-entreprise{
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        padding: span(0.2);
    }
        ul.liste-bts-coord{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: 80%;
            margin: 0 auto;
        }
}
#zone-2.contenu-entreprise{
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        padding: span(0.1);
    }

    }
}
/*######-------- ||| POSITION VISUEL GD FORMAT ||| --------######*/
#zone-illustration.contenu-entreprise{
    &.nid-619{
        img{
            transform: translate(0%, -30%);
        }
        
    }
}
/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-1.contenu-entreprise,
#zone-2.contenu-entreprise,
#zone-3.contenu-entreprise,
#zone-4.contenu-entreprise,
#zone-5.contenu-entreprise
{   
    p,ul,li{
        @include font-size(m);//utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
    }
    u{
        font-weight: bold;
        color: $bleu-turquoise;
    }
    h2{
        @include font-size(l);//utilisation de typey
        color: $orange-fonce;
    }
    h3{
        @include font-size(m);//utilisation de typey
        color: $orange-fonce;
    }
    h4{
        @include font-size(s);//utilisation de typey
        color: $orange-fonce;
    }
    a{
        text-decoration: none;
        color: $orange-fonce;
        &:hover{
            text-decoration: underline;
            transition: all 0.5s ease;
        }
    }
    strong{
        color: $orange-fonce;
    }

    h5{
        @include font-size(xs);//utilisation de typey
        color: $orange-fonce;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            /*margin: 0 0 0 em(230px);*/
            margin: 0 auto;
            width: 25%;
        }
    }


    table.table_generik{
        max-width: 98%;
        margin: 0 auto;
        tbody{

        }
        tr{
            background: $gris-anthracite;
            color: $blanc-casse;
        }
        td{
            background: $orange-fonce;
            padding: em(5px);
            display: table-cell;
        }

    }

    table.table-bts-coord{
        width: 80%;
        border: 0;
        border-top: em(2px) dashed $orange-fonce;
        margin: 0 auto;
        tbody{
            /*background: $gris-anthracite;*/
            color: $gris-anthracite;
            height: auto;
            margin: span(0.1) 0;
            padding: 0;
            border: 0;
        }
        tr{
            background: none;
            border: 0;
        }
        td{
            vertical-align: middle;
            border-top:0;
            border-bottom:0;
            /*border: em(1px) dashed $blanc-casse;*/
            border:0;
            em{
                padding: 0 span(0.01);
            }
        }
    }
}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.contenu-entreprise{
    //Pour node/111 Tableau objectifs BTS
    table#doc-joints{
        width: 80%;
        border: em(3px) dotted $orange-fonce;
        margin: 0 auto;
        tr{
            @include backgroundImage(('zebra-gros-clair.gif'),transparent,top left,repeat);

        }
        td{
                   img.filefield-icon{
            display: none;
            visibility: hidden;
        }
        a{
            display: block;
            margin:span(0.1) auto;
        }
        a[href*=".pdf"]{
            
                &::before{
                        @include backgroundImage("PNG/Fichiers@3x.png");
                        background-size: contain;
                        content: "";
                        position: relative;
                        vertical-align: sub;
                        padding: em(10px);
                        margin:em(3px);
                        transition:0.5s all;
                  
                    }
                }
        }
    }
    /*Contenu du QT pour afficher temoignage partenaires*/
    .temoignage-partenaires{
        h3{

            margin: em(5px);
        }
        .cartouche{
            padding: em(3px);
            background: $gris-clair;
            margin: em(3px) 0;

            @include font-size(s);//utilisation de typey
            color: $gris-anthracite;
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                max-width: 75%;
            }
        }

        img.portrait{
            border: em(2px) solid $orange-fonce;
            padding: em(5px);
            max-width: 45%;
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                max-width: 15%;
            }
        }
    }
    ul.liste-bts-coord{
          
          li{
              border-top: em(2px) dashed $orange-fonce;
              list-style: none;
          }
          img{
              transform: scale(0.85);
          }
    }
    p{
        position: relative;
        img[src*="docs-bts"]{

            display: block;
            margin: 0 auto;
        }
        //Effet coin retourné
/*        &::before{
            content: "";
            position: absolute;
            top: em(-3px);
            right: em(-3px);
            border-width: 0 em(20px) em(20px) 0;
            border-style: solid;
            border-color: $orange-fonce ;
        }*/
    }
    aside.liste-contenus{
        //Vue incluse via ViewRef
        max-width: span(8);
        background: $orange-fonce;
        h3{
            color:$blanc-casse;
            @include font-size(l);//utilisation de typey
        }
        .view-header{
            color:$gris-clair;
        }
        ul.formations-apprentissage{
            li,a{
                color:$blanc-casse;
            }
        }
    }


}
#zone-2.contenu-entreprise{
    aside.liste-bts{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        border-left: em(1px) dashed $orange-fonce;
        padding: span(0.1);
        }
        @include breakpoint(($tablet-hd,$tablet,$tabletlandscape,$tabletlandscape-hd)){
            border: 0;
        }
    }
    .objectif-bts,aside.liste-bts{
        h3{
            transform: rotate(-1deg);
            color: $orange-fonce;
            background: $gris-anthracite;
            width: 70%;
            width: fit-content;
            margin: span(0.1) auto;
        }
        ul,div{
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                /*border-left: em(1px) dashed $orange-fonce;*/
            }
            li{
                list-style: none;
            }
            img.filefield-icon{
                display: none;
                visibility: hidden;
            }
            a{
                display: block;
                margin:span(0.1) auto;
            }
            a[href*=".pdf"]{
                &::before{
                    @include backgroundImage("PNG/Fichiers@3x.png");
                    background-size: contain;
                    content: "";
                    position: relative;
                    vertical-align: sub;
                    padding: em(10px);
                    margin:em(3px);
                    transition:0.5s all;

                }
            }
            a[href*="fiche"]{
                color:$orange-fonce;
                &:hover{
                      background: $gris-anthracite;
                      color: $blanc-casse;
                      transition: all 0.5s ease;
                      text-decoration: none;
                }
            }
        }

    }
}
#zone-3.contenu-entreprise{}
#zone-4.contenu-entreprise{}
#zone-5.contenu-entreprise{}