// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|CSS additionnelle pour Pictos     |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

//Ressources sur Attributs et PseudoElements
// https://tympanus.net/codrops/2013/07/05/using-custom-data-attributes-and-pseudo-elements/

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.fiche-formation{order:1;}
    #zone-2.fiche-formation{order:2;}
    #zone-3.fiche-formation{order:3;}
    #zone-4.fiche-formation{}
    #zone-5.fiche-formation{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/


/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-1.fiche-formation,
#zone-2.fiche-formation,
#zone-3.fiche-formation,
#zone-4.fiche-formation,
#zone-5.fiche-formation
{}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.fiche-formation{
    position:relative;//pour pouvoir afficher le BG en ::before

    //Ajout de picto en BG selon ID du node de la fiche
    /*background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/PNG/CAP_ATMFC@4x.png") no-repeat;*/
    /*@include backgroundImageTransparentRGBA("PNG/CAP_ATMFC@4x.png",$gris-anthracite,0.5)*/   

    &.nid-14{//	CAP Opérateur/trice Logistique
             //Inclusion du BG dans ::before via une mixin
             @include backgroundImageOpacity(("PNG/Pictos/CAP_Logistique@4x.png"));
    }
    &.nid-21{//	CAP Agent Polyvalent de Restauration (APR)
             @include backgroundImageOpacity(("PNG/Pictos/CAP_APR@4x.png"));
    }
    &.nid-23{//	3ème Prépa Pro
             /*@include backgroundImageOpacity(("PNG/Pictos/CAP_Logistique@4x.png"),7%);*/
    }
    &.nid-81{//	CAP Employé de Vente
             @include backgroundImageOpacity(("PNG/Pictos/CAP_Vente@4x.png"));
    }
    &.nid-84{//	CAP Cuisine
             /*@include backgroundImageOpacity(("PNG/Pictos/CAP_Logistique@4x.png"),7%);*/
    }

    &.nid-85{//CAP Assistant technique en milieu familial et collectif (ATMFC) 
             //Inclusion du BG dans ::before via une mixin
             @include backgroundImageOpacity(("PNG/Pictos/CAP_ATMFC@4x.png"));
    }
    &.nid-86{//CAP Accompagnant éducatif petite enfance
             @include backgroundImageOpacity(("PNG/Pictos/CAP_AEPE@4x.png"));
    }
    &.nid-88{//Seconde Générale et Technologique

    }
    &.nid-89{//BAC Techno STL Biotechnologie (STLB)
             @include backgroundImageOpacity(("PNG/Pictos/BAC_STL_Biotech3@4x.png"));
    }
    &.nid-91{//BAC STMG : Mercatique et Ressources Humaines - Communication
             @include backgroundImageOpacity(("PNG/Pictos/BAC_STMG@4x.png"));
    }
    &.nid-93{//BAC Technologique STG Mercatique
             @include backgroundImageOpacity(("PNG/Pictos/BAC_STMG@4x.png"));
    }
    &.nid-94{//BAC Pro Service Proximité et Vie Locale (SPVL) 
             @include backgroundImageOpacity(("PNG/Pictos/BAC_SPVL@4x.png"));
    }
    &.nid-95{//	BAC Pro Artisanat et Métiers d'Art Communication Visuelle (AMACV)
             @include backgroundImageOpacity(("PNG/Pictos/BAC_AMACV@4x.png"));
    }
    &.nid-96{}//	BAC Pro Vente - Section Européenne	
    &.nid-97{}//	BAC Pro Transport
    &.nid-98{}//	BAC Pro Accueil Relation Clients et Usagers (ARCU)	
    &.nid-99{}//	BAC Pro Etude et Définition de Produits Industriels
    &.nid-101{}//	BAC Pro Commerce	Français	
    &.nid-102{}//	BAC Pro Logistique
    &.nid-103{}//	FCIL Prépa Concours Infirmière (IFSI)	
    &.nid-104{}//	Mention complémentaire Aide à Domicile	Français
    &.nid-107{}//	Préparation aux concours aide soignant(e) - IFAS	
    &.nid-229{}//	Préparation aux concours auxiliaire de puériculture - IFAP	
    &.nid-255{}//	BAC Techno Sciences et Technologies du Design et des Arts Appliqués (ST2A)
    &.nid-258{}//	BAC Pro Accompagnement, Soins et Services à la personne (ASSP) option Structure 
    &.nid-259{}//	BAC Pro Accompagnement, Soins et Services à la personne (ASSP) option Domicile	
    &.nid-271{}//	BAC Pro Esthétique Cosmétique Parfumerie (ECP)
    &.nid-272{}//	Formation professionnelle pour élèves en situation de handicap - ULIS -					
    &.nid-309{}//	Mention complémentaire Secrétariat Médical	
    &.nid-354{}//	BAC Pro Gestion Administration (GA)	
    &.nid-393{}//	Préparation au concours ATSEM 
    &.nid-486{}//	BAC Pro Commercialisation et services en restauration - CSR	
    &.nid-488{}//	BAC Professionnel Cuisine	
    &.nid-807{}//	CAP Commercialisation et service Hôtel-Café-Restaurant	
}

#zone-1.fiche-bts{
    position:relative;//pour pouvoir afficher le BG en ::before

    &.nid-112{//BTS Management des Unités Commerciales (MUC) 
    }
    &.nid-113{//BTS Négociation et Relation Client (NRC) 
              @include backgroundImageOpacity(("PNG/Pictos/BTS_NDRC@4x.png"));
    }
    &.nid-114{//BTS Assistant de Gestion PME/PMI (AG) 
              @include backgroundImageOpacity(("PNG/Pictos/BTS_GestPME@4x.png"));
    }
    &.nid-117{//BTS Transport et Prestations Logistiques (TPL)

    }
    &.nid-120{//BTS Analyses de Biologie Médicale (ABM)
              @include backgroundImageOpacity(("PNG/Pictos/BAC_STL_Biotech2@4x.png"));
    }
    &.nid-532{//BTS Métiers de l’Esthétique, Cosmétique, Parfumerie (MECP)  

    }
    &.nid-786{//BTS Tourisme
              @include backgroundImageOpacity(("PNG/Pictos/BTS_Tourisme@4x.png"));
    }
}
#zone-2.fiche-formation{}
